/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$purpura: #673ab7;
$purpuraLigth: #b7aec7;
$PurpuraStrong: #4f2597;
$gris:#a1a1a1;
